/ {
	
    ar1335_vdd_io_1v8: 1p8v {
		compatible = "regulator-fixed";
		regulator-name = "vdd-io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	ar1335_vaa_2v8: 2p8v {
		compatible = "regulator-fixed";
		regulator-name = "vaa";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		//gpio = <&cam_gpio 2 GPIO_ACTIVE_LOW>;
		//regulator-always-on;
	};

	ar1335_vdd_1v5: 1p5v {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
		regulator-boot-on;
	};
    ccm-dis-hog {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_LOW>;
			output-high;
		};
};


&i2c6 {
	pinctrl-0 = <&i2c6_pins>;
	pinctrl-names = "default";

	status = "okay";

	ar1335_csi22: ar1335_csi22@36 {
		compatible = "onnn,ar1335";
		reg = <0x36>;
		clock-names = "extclk";
		clocks = <&clk_ext_camera>;
		vdd_io-supply = <&ar1335_vdd_io_1v8>;
		vaa-supply = <&ar1335_vaa_2v8>;
		vdd-supply = <&ar1335_vdd_1v5>;
		

		reset-gpios = <&cam_gpio 10 GPIO_ACTIVE_HIGH>;//CCM1
		port {
			ar1335_to_csi22: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&csi22_in>;
			};
		};
	};
};
&csi22{
    status = "okay";
    ports {
		port {
			csi22_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ar1335_to_csi22>;
			};
		};
	};
};